body {
    margin: 0px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Poppins;
}

nav {
    background-color: #292b2c;
    overflow: hidden;
    color: white;
    height: 50px;
    text-align: center;
    font-family: Poppins;
}

a {
    display: inline-block; 
    padding-right: 50px; 
    text-decoration: none;
    color: white;
}

#first{
    display: inline-block; 
    padding-top: 15px; 
    padding-right: 50px; 
    text-decoration: none; 
    color: white;
}

#last{
    display: inline-block; 
    text-decoration: none;
    color: white;
}

.description{
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;    
}

.table{
    display: table;
}

.justify{
    text-align: justify;
}

/* HOME */
#cat1{
    float:right;
}

#helloWorld{
    padding-top:40px;
    padding-left:30px;
    font-size:80px;
    margin-bottom: 3px;   
}

#intro{
    padding-left:30px;
    font-size:20px;
    margin-top:5px;
    text-align: justify;   
}

/* ABOUT ME */
#bookDesc{
    float: left;
    width: 40%;
    padding-left: 30px;
}

#bookPics{
    float: right;
    width: 55%;
    padding: 5px;
    margin-top: 20px;
}

#media{
    padding-top: 15px;   
}

#videoDesc{
    float: left;
    width: 35%;
    padding-left: 30px;   
}

#videoTitle{
    padding-top: 50px;   
}

#video{
    float: right;
    width: 55%;
    padding: 30px;
    margin-top: 10px;
}

#nitwGIF{
    float: left;
    padding-top:20px;
    width: 35%;
    padding-left: 30px;   
}

#nitwDesc{
    float: right;
    width: 50%;
    padding-right: 30px;   
}

#nitwTitle{
    padding-top: 40px;   
}

#mangaTable{
    padding-top: 50px;
}

#mangaTitle{
    padding-top: 40px;    
}

#mangaDesc{
    float: left;
    width: 35%;
    padding-left: 30px;
    margin-top: 20px;
}

#mangaPic{
    float: right;
    width: 50%;
    padding-right: 30px;   
}



/* WORKS */
.artContainer{
    padding-left: 30px;
    padding-right: 30px; 
}

/* CURE FOR DEPRESSION */
#petContainer{
    padding-top:20px;   
}